<ion-header>
  <ion-toolbar>
    <ion-title>
      todo list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>My Todo</ion-label>
      <ion-button (click)="loadTodos()">Refresh</ion-button>
    </ion-list-header>
    
    <ion-item-sliding *ngFor="let todo of todos">

      <ion-item>
        <ion-label tewt-wrap>
          <h3>{{ todo.name }}</h3>
          <ion-text color="secondary">
            <p>{{todo.ended}}</p>
          </ion-text>
        </ion-label>
      </ion-item>


    </ion-item-sliding>

  </ion-list>
</ion-content>